/*/////HOME/////*/
.home {
	text-align: center;
	margin-top: 110px;
}

.title-name {
	font-size: 100px;
   -webkit-animation-name: fadeInDownBig;
   -moz-animation-name: fadeInDownBig;
   -o-animation-name: fadeInDownBig;
   animation-name: fadeInDownBig;
}

.title-subtitle {
	font-size: 50px;
   -webkit-animation-name: fadeInUpBig;
   -moz-animation-name: fadeInUpBig;
   -o-animation-name: fadeInUpBig;
   animation-name: fadeInUpBig;
   animation-delay: 1s;
}

/*.title-name.ng-leave {
    -webkit-animation: fadeInRight 5s;
    animation: fadeInRight 5s;
}*/


/*/////ABOUT/////*/
.kendall-img {
	float: left;
	-webkit-animation-name: rollIn;
	-moz-animation-name: rollIn;
	-o-animation-name: rollIn;
	animation-name: rollIn;
}

.about {
	float: right;
	margin-top: 40px;
}

.about-text {
	-webkit-animation-name: fadeInUp;
	-moz-animation-name: fadeInUp;
	-o-animation-name: fadeInUp;
	animation-name: fadeInUp;
	animation-delay: 1s;
}

.skills {
	margin-top: 60px;
	text-align: center;
}

.skill-icons {
	width: 100px;
	margin-left: 25px;
	margin-right: 25px;
	margin-bottom: 30px;
}

.cv-buttons {
	text-align: center;
	margin-top: 50px;
	margin-bottom: 40px;
}

.view-cv-button {
	/*margin-right: 75px;*/
}


/*/////CONTACT/////*/
.contact-icons {
	text-align: center;
	margin-top: 200px;
}

.fa-envelope-o {
	margin-right: 30px;
}

.fa-envelope-o:hover {
	color: green;
	 -webkit-animation-name: pulse;
   -moz-animation-name: pulse;
   -o-animation-name: pulse;
   animation-name: pulse;
}

.fa-github {
	margin-right: 30px;
}

.fa-github:hover {
	color: green;
	 -webkit-animation-name: pulse;
   -moz-animation-name: pulse;
   -o-animation-name: pulse;
   animation-name: pulse;
}

.fa-linkedin {
	margin-right: 30px;
}

.fa-linkedin:hover {
	color: green;
	 -webkit-animation-name: pulse;
   -moz-animation-name: pulse;
   -o-animation-name: pulse;
   animation-name: pulse;
}

.fa-instagram {

}

.fa-instagram:hover {
	color: green;
	 -webkit-animation-name: pulse;
   -moz-animation-name: pulse;
   -o-animation-name: pulse;
   animation-name: pulse;
}