/*/////HOME/////*/
.home {
	text-align: center;
	margin-top: 110px;
}

.title-name {
	color: #82d5c8;
	font-size: 100px;
   -webkit-animation-name: fadeInDownBig;
   -moz-animation-name: fadeInDownBig;
   -o-animation-name: fadeInDownBig;
   animation-name: fadeInDownBig;
}

.title-subtitle {
	color: #82d5c8;
	font-size: 50px;
   -webkit-animation-name: fadeInUpBig;
   -moz-animation-name: fadeInUpBig;
   -o-animation-name: fadeInUpBig;
   animation-name: fadeInUpBig;
   animation-delay: 1s;
}

/*.title-name.ng-leave {
    -webkit-animation: fadeInRight 5s;
    animation: fadeInRight 5s;
}*/


/*/////ABOUT/////*/
.kendall-img {
	float: left;
	-webkit-animation-name: rollIn;
	-moz-animation-name: rollIn;
	-o-animation-name: rollIn;
	animation-name: rollIn;
}

.about {
	float: right;
	margin-top: 40px;
}

.about-text {
	margin-left: 40px;
	margin-right: 40px;
	-webkit-animation-name: fadeInUp;
	-moz-animation-name: fadeInUp;
	-o-animation-name: fadeInUp;
	animation-name: fadeInUp;
	animation-delay: 1s;
}

.skills {
	margin-top: 60px;
	text-align: center;
	-webkit-animation-name: fadeInUp;
	-moz-animation-name: fadeInUp;
	-o-animation-name: fadeInUp;
	animation-name: fadeInUp;
	animation-delay: 2s;
}

.skill-icons {
	width: 100px;
	margin-left: 25px;
	margin-right: 25px;
	margin-bottom: 30px;
}

.cv-buttons {
	text-align: center;
	margin-top: 50px;
	margin-bottom: 40px;
	-webkit-animation-name: fadeInUp;
	-moz-animation-name: fadeInUp;
	-o-animation-name: fadeInUp;
	animation-name: fadeInUp;
	animation-delay: 3s;
}

.view-cv-button {
	/*margin-right: 75px;*/
}


/*/////PROJECTS/////*/
.panel {
	margin-bottom: 5px;
}

.panel-default {
	display: inline-block;
}

#projects {
	display: inline;
}

#left {
	float: left;
	margin-top: 40px;
	margin-bottom: 20px;
}

#right {
	float: right;
	margin-top: 40px;
	margin-bottom: 20px;
}

#kgmarried {
	margin-bottom: 15px;
	border: 1px solid black;
 -webkit-animation-name: fadeInUpBig;
 -moz-animation-name: fadeInUpBig;
 -o-animation-name: fadeInUpBig;
 animation-name: fadeInUpBig;
}

#bestever {
	margin-bottom: 15px;
	border: 1px solid black;
	 -webkit-animation-name: fadeInUpBig;
   -moz-animation-name: fadeInUpBig;
   -o-animation-name: fadeInUpBig;
   animation-name: fadeInUpBig;
   animation-delay: 0.25s;
}

#homeventory {
	margin-bottom: 15px;
	border: 1px solid black;
	 -webkit-animation-name: fadeInUpBig;
   -moz-animation-name: fadeInUpBig;
   -o-animation-name: fadeInUpBig;
   animation-name: fadeInUpBig;
   animation-delay: 0.5s;
}

#memory {
	margin-bottom: 15px;
	border: 1px solid black;
	 -webkit-animation-name: fadeInUpBig;
   -moz-animation-name: fadeInUpBig;
   -o-animation-name: fadeInUpBig;
   animation-name: fadeInUpBig;
   animation-delay: 0.75s;
}

.horizontal-collapse {
    height: 70px;
  }

/*/////CONTACT/////*/
.contact-icons {
	text-align: center;
	margin-top: 200px;
/*	 -webkit-animation-name: fadeInUpBig;
   -moz-animation-name: fadeInUpBig;
   -o-animation-name: fadeInUpBig;
   animation-name: fadeInUpBig;*/
}

.fa-envelope-o {
	margin-right: 30px;
	 -webkit-animation-name: fadeInUpBig;
   -moz-animation-name: fadeInUpBig;
   -o-animation-name: fadeInUpBig;
   animation-name: fadeInUpBig;
   animation-iteration-count: 1;
}

.fa-envelope-o:hover {
	color: #82d5c8;
/*	 -webkit-animation-name: pulse;
   -moz-animation-name: pulse;
   -o-animation-name: pulse;
   animation-name: pulse;*/
}

.fa-github {
	margin-right: 30px;
	 -webkit-animation-name: fadeInUpBig;
   -moz-animation-name: fadeInUpBig;
   -o-animation-name: fadeInUpBig;
   animation-name: fadeInUpBig;
   animation-delay: 0.25s;
}

.fa-github:hover {
	color: #82d5c8;
/*	 -webkit-animation-name: pulse;
   -moz-animation-name: pulse;
   -o-animation-name: pulse;
   animation-name: pulse;*/
}

.fa-linkedin {
	margin-right: 30px;
	 -webkit-animation-name: fadeInUpBig;
   -moz-animation-name: fadeInUpBig;
   -o-animation-name: fadeInUpBig;
   animation-name: fadeInUpBig;
   animation-delay: 0.5s;
}

.fa-linkedin:hover {
	color: #82d5c8;
/*	 -webkit-animation-name: pulse;
   -moz-animation-name: pulse;
   -o-animation-name: pulse;
   animation-name: pulse;*/
}

.fa-instagram {
	 -webkit-animation-name: fadeInUpBig;
   -moz-animation-name: fadeInUpBig;
   -o-animation-name: fadeInUpBig;
   animation-name: fadeInUpBig;
   animation-delay: 0.75s;

}

.fa-instagram:hover {
	color: #82d5c8;
/*	 -webkit-animation-name: pulse;
   -moz-animation-name: pulse;
   -o-animation-name: pulse;
   animation-name: pulse;*/
}