<div class="container">
	<div class="about">
			<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
				<img class="kendall-img" src="/images/kendall.png" width="300">
			</div>
			<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
				<div class="about-text">
				<h3>Kendall Goodwin</h3>
				<p>I'm a Seattle-based front end developer with a passion for bold design and a streamlined user experience. I believe every website tells its own unique story.</p>
				</div>
			</div>
	</div>
</div>

<div class="container">
	<div class="skills">
		<img src="/images/html.png" class="skill-icons">
		<img src="/images/css.png" class="skill-icons">
		<img src="/images/javascript.svg" class="skill-icons">
		<img src="/images/jquery.png" class="skill-icons">
		<img src="/images/photoshop.png" class="skill-icons">	
		<img src="/images/angular.png" class="skill-icons">
		<img src="/images/nodejs.png" class="skill-icons">
		<img src="/images/bootstrap.png" class="skill-icons">
		<img src="/images/mongodb.png" class="skill-icons">
		<img src="/images/git.png" class="skill-icons">
		<img src="/images/postgresql.png" class="skill-icons">
		<img src="/images/heroku.png" class="skill-icons">
	</div>
<!-- </div> -->
</div>

<div class="container">
<div class="cv-buttons">
<a href="https://drive.google.com/file/d/0B-smky1Q8-OhZ0d1Nk1iVERQaDg/view?usp=sharing" target="_blank"><button type="button" class="btn btn-outline-primary view-cv-button">View Resume</button></a>

<!-- <form method="get" action="kendallgoodwin.pdf">
<button type="submit">Download Resume</button>
</form> -->

<a href="kendallgoodwin.pdf" download="kendallgoodwin.pdf"><button type="button" class="btn btn-outline-primary">Download Resume</button></a>
</div>

</div>