<div class="container">
	<div class="about">
			<div class="col-xs-12 col-sm-5 col-md-4 col-lg-4">
				<img class="kendall-img animated img-responsive" src="/images/kendall.png" width="300">
			</div>
			<div class="col-xs-12 col-sm-7 col-md-8 col-lg-8">
				<div class="title-text animated">
				<h3>Hi, I'm Kendall.</h3>
				</div>
				<div class="about-text animated">
				<p>I'm a Seattle-based front end developer with a passion for bold design and streamlined user experience. I believe every website tells its own unique story, and I love finding creative ways to tell a story through code. I'm a quick learner, a problem-solver, and a team player. I'm also a Capricorn, a pizza afficianado, and dog mom to the <a class="humby-link" href="http://instagram.com/humdogtrillionaire">cutest dachshund ever</a>. Let's make something cool together!</p>
				</div>
				
			</div>
	</div>
</div>

<div class="container">
	<div class="skills animated">
		<img src="/images/html.png" class="skill-icons">
		<img src="/images/css.png" class="skill-icons">
		<img src="/images/javascript.svg" class="skill-icons">
		<img src="/images/jquery.png" class="skill-icons">
		<img src="/images/photoshop.png" class="skill-icons">	
		<img src="/images/angular.png" class="skill-icons">
		<img src="/images/nodejs.png" class="skill-icons">
		<img src="/images/bootstrap.png" class="skill-icons">
		<img src="/images/mongodb.png" class="skill-icons">
		<img src="/images/git.png" class="skill-icons">
		<img src="/images/postgresql.png" class="skill-icons">
		<img src="/images/heroku.png" class="skill-icons">
	</div>
<!-- </div> -->
</div>

<div class="container">
<div class="cv-buttons">
<a href="https://drive.google.com/file/d/0B-smky1Q8-OhZ0d1Nk1iVERQaDg/view?usp=sharing" target="_blank"><button type="button" class="btn view-cv-button">View Resume</button></a>

<!-- <form method="get" action="kendallgoodwin.pdf">
<button type="submit">Download Resume</button>
</form> -->

<a href="kendallgoodwin.pdf" download="kendallgoodwin.pdf"><button type="button" class="btn">Download Resume</button></a>
</div>

</div>