<div class="container">
	<div class="col-md-10 col-md-offset-1">
		<div class="contact-icons">
			<a href="mailto:kendall.a.goodwin@gmail.com"><i class="fa fa-envelope-o fa-5x animated" aria-hidden="true"></i></a>
			<a href="http://github.com/kendallgoodwin" target="_blank"><i class="fa fa-github fa-5x animated" aria-hidden="true"></i></a>
			<a href="http://linkedin.com/in/kendallgoodwin" target="_blank"><i class="fa fa-linkedin fa-5x animated" aria-hidden="true"></i></a>
			<a href="http://instagram.com/kendallgoodwin" target="_blank"><i class="fa fa-instagram fa-5x animated" aria-hidden="true"></i></a>
		</div>
	</div>
</div>