<div class="container-fluid">
	<div class="col-sm-12 col-md-8 col-lg-8" id="responsive-showcase">
		<img src="/images/homeventory-responsive.jpg" class="img-responsive">
	</div>
	<div class="col-sm-12 col-md-4 col-lg-4" id="proj-description">
		<h4>Homeventory</h4>
		<p>A home inventory app that allows users to keep track of grocery and household items. Features include an item search, a favorites page for frequently bought items, and a list-only view of items needed.</p>
		<p> My role: Front End Developer & UX Designer</p>
		<p>Technology Used: Ruby on Rails, PostgreSQL, bcrypt, Facebook OAuth, jQuery, Bootstrap, Factual API</p>
		<p>
			<a class="proj-links" href="https://homeventory.herokuapp.com/" target="_blank"><i class="fa fa-lg fa-chrome" aria-hidden="true"></i>View Web Page</a>
			<a class="proj-links" href="https://github.com/kendallgoodwin/homeventory" target="_blank"><i class="fa fa-lg fa-git-square" aria-hidden="true"></i>View code on GitHub</a>
		</p>

	</div>
</div>