<div class="container-fluid">
<div class="col-sm-12 col-md-8 col-lg-8">
<img src="/images/kgmarried-responsive.jpg" class="img-responsive">
</div>
<div class="col-sm-12 col-md-4 col-lg-4">
<h4>Kendall & Greg: Married</h4>
<p>A website for my family and friends who were not present at my wedding to view images from the day. For screen sizes 767px and higher, images appear in a full screen lightbox on click. This responsive site was created using Angular.js, Angular Bootstrap Lightbox, Photoshop, HTML, and Javascript.</p>

</div>
</div>