<div class="container-fluid">
	<div class="col-sm-12 col-md-8 col-lg-8" id="responsive-showcase">
		<img src="/images/memory-responsive.jpg" class="img-responsive">
	</div>
	<div class="col-sm-12 col-md-4 col-lg-4" id="proj-description">
		<h4>Memory: Literary Alcoholics Edition</h4>
		<p>A classic matching game with a sad, boozy twist. Players click two cards per turn to reveal matches, and the player with the most pairs of literary alcoholics wins. Click the 'Bottoms Up!' button to start the game.</p>
		<p> My role: Front End Developer & Designer</p>
		<p>Technology Used: HTML, CSS, Javascript, Photoshop, SweetAlerts</p>
		<p>
		<a class="proj-links" href="http://kendallgoodwin.github.io/project-1" target="_blank"><i class="fa fa-lg fa-chrome" aria-hidden="true"></i>View Web Page</a>
		<a class="proj-links" href="http://github.com/kendallgoodwin/project-1" target="_blank"><i class="fa fa-lg fa-git-square" aria-hidden="true"></i>View code on GitHub</a>
		</p>

	</div>
</div>