<div class="container">
	<div class="col-sm-12 col-md-6 col-lg-6" id="left">
        <a href="#/projects/kgmarried"><img src="/images/kgmarried.png" class="img-responsive animated" id="kgmarried"></a>
        <img src="/images/homeventory.png" class="img-responsive animated" id="homeventory">
  </div>
  <div class="col-sm-12 col-md-6 col-lg-6" id="right">
        <img src="/images/bestever.png" class="img-responsive animated" id="bestever">
        <img src="/images/memory.png" class="img-responsive animated" id="memory">
	</div>
</div>
