<div class="container" ng-controller="ProjectsCtrl">
	<div class="col-sm-6 col-md-6 col-lg-6" id="left">
		<img src="/images/kgmarried.png" class="img-responsive animated" id="kgmarried" ng-click="isCollapsedHorizontal = !isCollapsedHorizontal">
		<div class="horizontal-collapse" uib-collapse="isCollapsedHorizontal">
			<div class="well well-lg">Some content</div>
		</div>
		<img src="/images/homeventory.png" class="img-responsive animated" id="homeventory" ng-click="isCollapsedHorizontal = !isCollapsedHorizontal">
		<div class="horizontal-collapse" uib-collapse="isCollapsedHorizontal">
			<div class="well well-lg">Some content</div>
		</div>
	</div>
	<div class="col-sm-6 col-md-6 col-lg-6" id="right">
		<img src="/images/bestever.png" class="img-responsive animated" id="bestever" ng-click="isCollapsedHorizontal = !isCollapsedHorizontal">
		<div class="horizontal-collapse" uib-collapse="isCollapsedHorizontal">
			<div class="well well-lg">Some content</div>
		</div>
		<img src="/images/memory.png" class="img-responsive animated" id="memory" ng-click="isCollapsedHorizontal = !isCollapsedHorizontal">
		<div class="horizontal-collapse" uib-collapse="isCollapsedHorizontal">
			<div class="well well-lg">Some content</div>
		</div>
	</div>
</div>
