<div class="container">
	<div class="col-sm-12 col-md-6 col-lg-6" id="left">
        <a href="#/projects/kgmarried"><img src="/images/kgmarried-mockup.jpg" class="img-responsive animated" id="kgmarried"></a>
        <img src="/images/homeventory.png" class="img-responsive animated" id="homeventory">
  </div>
  <div class="col-sm-12 col-md-6 col-lg-6" id="right">
        <a href="#/projects/bestever"><img src="/images/bestever-mockup.jpg" class="img-responsive animated" id="bestever"></a>
        <a href="#/projects/memory"><img src="/images/memory.png" class="img-responsive animated" id="memory"></a>
	</div>
</div>
